<!DOCTYPE html>
<html lang="en">
<head>
    <title>xy</title>
</head>
<body>
<h1>xy</h1>
{{ if .Error }}
<p>{{.Error}}</p>
{{ end }}

{{if eq .Session.Authenticated true}}
<p>Welcome back user ID {{.Session.UserId}}</p>
{{end}}
{{if eq .Session.Authenticated false}}
<form method="post" action="login">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{.Form.Email}}" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button>Login</button>
</form>
{{end}}
</body>
</html>
